.note-editor {
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  position: relative;
  overflow-y: auto;
}
.note-original-text {
  border-left: solid 3px #109870;
  padding-left: 10px;
  margin-bottom: 20px;
  margin-top: 5px;
  line-height: 1.25;
  text-align: left;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  font-size: 15px;
  overflow-y: auto;
}
.editor-box-parent {
  width: 100%;
  flex: 1;
  margin-bottom: 0;
}
.editor-box {
  border: none;
  outline: none;
  resize: none;
  font-size: 15px;
  width: calc(100% - 20px);
  height: 100%;
  min-height: 80px;
  line-height: 18px;
  overflow-y: auto;
  background-color: rgba(16, 152, 112, 0.05);
  border-radius: 7px;
  padding: 10px;
}

/* 没有 ::placeholder，就无法单独控制这段灰色提示文字的样式 */
.editor-box::placeholder {
  font-size: 15px;
  line-height: 15px;
  opacity: 0.6;
  position: relative;
  top: 6px;
  font-weight: 500;
}
/* 确保在 Microsoft Edge 浏览器中也能显示灰色提示文字 */
.editor-box::-ms-input-placeholder {
  font-size: 15px;
  line-height: 15px;
  opacity: 0.6;
  position: relative;
  top: 6px;
  font-weight: 500;
}
/* 确保在 Firefox 浏览器中也能显示灰色提示文字 */
.editor-box::-moz-placeholder {
  font-size: 15px;
  line-height: 15px;
  opacity: 0.6;
  position: relative;
  top: 6px;
  font-weight: 500;
}

.note-color-section {
  display: flex;
  /* --- 通过修改这一行来调整水平位置 --- */
  justify-content: flex-end;
  margin-bottom: auto; 
  /* margin-top: 5px; */
  /* border-top: 1px solid rgba(75, 75, 75, 0.1);    <-- 上边框线 */
  /* border-bottom: 1px solid rgba(75, 75, 75, 0.1); <-- 下边框线 */
}

.note-button-container {
  display: flex;
  /* justify-content 定义在主轴（默认是水平方向）上的对齐方式，end 表示 */
  justify-content: flex-end; 
   /* gap 定义在主轴（默认是水平方向）上每两个子元素之间的间隔  */
  gap: 15px;
  margin-top: auto;
  /* padding-top: 15px; */
  cursor: pointer;
}
.confirm-button {
  font-size: 15px;
  line-height: 15px;
  opacity: 1;
  cursor: pointer;
}
.cancel-button {
  font-size: 15px;
  line-height: 15px;
  opacity: 1;
  cursor: pointer;
  margin-right: 20px;
}
.note-tags {
  width: 320px;
  overflow-x: scroll;
  overflow-y: hidden;
}

/* 新的标签部分样式 */
.note-tags-section {
  margin: 0;
  padding: 0;
}

.note-tags-label {
  font-size: 14px;
  font-weight: 500;
  color: rgba(75, 75, 75, 0.8);
  margin-bottom: 8px;
  margin-top: 30px;
}
